<% include header %>

<h2>data.</h2>
<ul>
    <% if(!metadata.error){ %>
        <li>total:<span class="value"><%= data.total %></span></li>
        <li>
            <div>docs.</div>
            <ul>
                <% data.docs.forEach(function(doc, index){ %>
                    <li><%= index %>:</li>
                    <ul>
                        <li>title:<span class="value"><%= doc.title %></span></li>
                        <li>date:<span class="value"><%= doc.date %></span></li>
                        <li>link:<span class="value"><%= doc.link %></span></li>
                        <li>hidden:<span class="value"><%= doc.hidden %></span></li>
                        <li>top:<span class="value"><%= doc.top %></span></li>
                        <li>tags:<span class="value"><%= doc.tags.join(', ') %></span></li>
                    </ul>
                <% }) %>
            </ul>
        </li>
    <% }else{ %>
        <li>null</li>
    <% } %>
</ul>

<% include footer %>
