<% include header %>

<h2>data.</h2>
<ul>
    <% if(!metadata.error){ %>
        <li>title:<span class="value"><%= data.title %></span></li>
        <li>content:<span class="value"><%= data.content %></span></li>
        <li>link:<span class="value"><%= data.link %></span></li>
        <li>top:<span class="value"><%= data.top %></span></li>
        <li>tags:<span class="value"><%= data.tags.join(' ') %></span></li>
    <% }else{ %>
        <li>null</li>
    <% } %>
</ul>

<form method="post" action="/edit/<%= metadata.error ? '' : data.link %>">
    <div>title:<input type="text" name="title" /></div>
    <div>tags:<input type="text" name="tags" /></div>
    <div>top:<input type="checkbox" name="top" /></div>
    <div>content:<textarea name="content"></textarea></div>
    <div><button type="submit">Save</button></div>
</form>

<% include footer %>
