extends layout

block content
    .post
        h2
            | Edit: 
            = data.title
        form.pure-form(method='post', action='/edit/#{data.link}')
            p
                input.pure-input-1(type='text', name='title', placeholder='title', required, value='#{data.title}')
            p
                input.pure-input-1(type='text', name='link', placeholder='link', required, value='#{data.link}')
            p
                input.pure-input-1(type='text', name='tags', placeholder='tags', required, value='#{data.tags ? data.tags.join(" ") : ""}')
            p
                textarea.pure-input-1(name='content', placeholder='content', required)= data.content
            p
                button.pure-button.pure-button-primary(type='submit') 保存