<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Basic Theme</title>
    <style>
        body {
            font-weight: bold;
        }
        span.value {
            margin-left: 5px;
            font-weight: normal;
        }
    </style>
</head>

<body>
    <h2>All Link Type</h2>
    <ul>
        <li>
            <div>/</div>
            <ul>
                <li>GET:<span class="value">render(index)</span></li>
            </ul>
        </li>
        <li>
            <div>/post/[link]</div>
            <ul>
                <li>GET:<span class="value">render(post)</span></li>
            </ul>
        </li>
        <li>
            <div>/add</div>
            <ul>
                <li>GET:<span class="value">render(add)</span></li>
                <li>POST:<span class="value">success:redirect(/post/link) failed:render(add)</span></li>
            </ul>
        </li>
        <li>
            <div>/archive</div>
            <ul>
                <li>GET:<span class="value">render(archive)</span></li>
            </ul>
        </li>
        <li>
            <div>/edit/[link]</div>
            <ul>
                <li>GET:<span class="value">render(edit)</span></li>
                <li>POST:<span class="value">success:redirect(/post/link) failed:render(edit)</span></li>
            </ul>
        </li>
        <li>
            <div>/hide/[link]</div>
            <ul>
                <li>GET:<span class="value">success:redirect(/) failed:redirect(/post/link)</span></li>
            </ul>
        </li>
        <li>
            <div>/login</div>
            <ul>
                <li>GET:<span class="value">render(login)</span></li>
                <li>POST:<span class="value">success:redirect(/) failed:render(login)</span></li>
            </ul>
        </li>
        <li>
            <div>/logout</div>
            <ul>
                <li>GET:<span class="value">redirect(/)</span></li>
            </ul>
        </li>
        <li>
            <div>/tag/[tag]</div>
            <ul>
                <li>GET:<span class="value">render(tag)</span></li>
            </ul>
        </li>
        <li>
            <div>/tags</div>
            <ul>
                <li>GET:<span class="value">render(tags)</span></li>
            </ul>
        </li>
    </ul>
    <hr />
    <h2>All msg</h2>
    <ul>
        <li>add failed</li>
        <li>add success</li>
        <li>edit failed</li>
        <li>edit success</li>
        <li>hide failed</li>
        <li>hide success</li>
        <li>login failed</li>
        <li>login success</li>
        <li>logout success</li>
        <li>must login</li>
        <li>must logout</li>
        <li>invalid link</li>
        <li>database error</li>
    </ul>
    <hr />
    <h2>metadata.</h2>
    <ul>
        <li>siteName:<span class="value"><%= metadata.siteName %></span></li>
        <li>siteAuthor:<span class="value"><%= metadata.siteAuthor %></span></li>
        <li>siteDesc:<span class="value"><%= metadata.siteDesc %></span></li>
        <li>disqus:<span class="value"><%= metadata.disqus %></span></li>
        <li>homepage:<span class="value"><%= metadata.homepage %></span></li>
        <li>pageName:<span class="value"><%= metadata.pageName %></span></li>
        <li>msg:<span class="value"><%= metadata.msg %></span></li>
        <li>user:<span class="value"><%= metadata.user %></span></li>
        <li>
            <div>error.</div>
            <ul>
                <% if(metadata.error){ %>
                    <li>message:<span class="value"><%= metadata.error.message %></span></li>
                <% }else{ %>
                    <li><span class="value">null</span></li>
                <% } %>
            </ul>
        </li>
    </ul>
    <hr />
