extends layout

block content
    for post in iFantasy.data.docs
        .post
            h2.post-title
                a(href='/post/#{post.link}')= post.title
            .post-tags
                for tag in post.tags
                    a(href='/tag/#{tag}')= tag
            .post-content
                .markdown-body!= post.brief
            .post-more
                span.post-date= extend.dateFormat('yyyy-MM-dd hh:mm:ss', post.date)
                a(href='/post/#{post.link}') [View More+]
    .pager
        - for(var i=1; i<iFantasy.data.pager.pageNum+1; i++)
            if i === iFantasy.data.pager.cpage
                span= i
            else
                a(href='/?p=#{i}')= i