doctype html
html
    head
        meta(charset='utf-8')
        
        title
            = extend.tipFormat(iFantasy.temp.pagename, iFantasy)
            = iFantasy.site.title
        
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='format-detection', content='telephone=no')
        meta(name='renderer', content='webkit')
        meta(name='keywords', content='#{iFantasy.site.keyword}')
        meta(name='description', content='#{iFantasy.site.description}')
        
        link(rel='stylesheet', href='/static/css/normalize.css')
        link(rel='stylesheet', href='/static/css/pure-min.css')
        link(rel='stylesheet', href='/static/css/grids-responsive-min.css')       
        link(rel='stylesheet', href='/static/css/style.css')
    
    body
        #msg= extend.tipFormat(iFantasy.temp.message, iFantasy)
        
        .container(class='#{iFantasy.temp.pagename}')
        
            #header
                .site-title
                    h1!= iFantasy.site.name
                    a.site-name(href='/')!= iFantasy.site.name
                    .site-desc= iFantasy.site.description
                .header-nav
                    a.nav-home(href='/') 博客
                    a.nav-archive(href='/archive') 归档
                    a.nav-tags(href='/tags') 标签
                    a.nav-profile(href='#{iFantasy.site.homepage}', target='_blank') 关于

            #main.pure-g
                .pure-u-1.pure-u-md-3-4
                    #content
                        block content
                .pure-u-1.pure-u-md-1-4
                    #sidebar
                        .widget
                            form#search
                                input(placeholder="Search", type="text")
                    
                        .widget
                            .widget-title 账户
                            ul
                                if !iFantasy.user
                                    li
                                        a(href='/login') 登录
                                else
                                    li
                                        a(href='/logout') 登出
                        
                        if iFantasy.user
                            .widget
                                .widget-title 功能
                                ul
                                    li
                                        a(href='/add') 添加新文章

            #footer
                | &copy; 
                a(href='/')!= iFantasy.site.name
                | . Authored by 
                a(href='#{iFantasy.site.homepage}', target='_blank')!= iFantasy.site.author
                | . Powered by 
                a(href='https://github.com/icodermo/iFantasy', target='_blank') iFantasy
                | . Theme by 
                a(href='http://www.codermo.com', target='_blank') codermo
                | (inspired by 
                a(href='http://chopstack.com/', target='_blank') cho
                | ).
                
            if iFantasy.temp.message
                script
                    | document.getElementById('msg').style.display = 'block';
                    | window.setTimeout(function(){ document.getElementById('msg').style.display = 'none'; }, 1500);