extends layout

block content
    .post
        h2.post-title
            a(href='/post/#{iFantasy.data.link}')= iFantasy.data.title
        .post-tags
            for tag in iFantasy.data.tags
                a(href='/tag/#{tag}')= tag
        if iFantasy.user
            .post-func
                a(href='/edit/#{iFantasy.data.link}') 编辑
                a#post-hide(data='/hide/#{iFantasy.data.link}', href='javascript:;') 删除
        .post-content
            .markdown-body!= iFantasy.data.content
        if iFantasy.site.disqus
            .post-comment
                #disqus_thread
                script
                    | var disqus_shortname = '#{iFantasy.site.disqus}';
                    | (function() {
                    |     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    |     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    |     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    | })();
                noscript
                    |Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        else if iFantasy.site.duoshuo
            .post-comment
                .ds-thread(data-thread-key='#{iFantasy.data.link}', data-title='#{iFantasy.data.title}', data-url='#{iFantasy.site.domain + "/post/" + iFantasy.data.link}')
                script
                    | var duoshuoQuery = {short_name:'#{iFantasy.site.duoshuo}'};
                    | (function() {
                    |     var ds = document.createElement('script');
                    |     ds.type = 'text/javascript';ds.async = true;
                    |     ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    |     ds.charset = 'UTF-8';
                    |     (document.getElementsByTagName('head')[0] 
                    |      || document.getElementsByTagName('body')[0]).appendChild(ds);
                    | })();
        
    if iFantasy.user
        script
            | document.getElementById('post-hide').addEventListener('click', function(){
            |     if(confirm('确定要删除吗？')){
            |         window.location = event.target.getAttribute('data');
            |     } 
            | });