<% include header %>

<h2>data.</h2>
<ul>
    <% if(!metadata.error){ %>
        <li>title:<span class="value"><%= data.title %></span></li>
        <li>content:<span class="value"><%= data.content %></span></li>
        <li>date:<span class="value"><%= data.date %></span></li>
        <li>link:<span class="value"><%= data.link %></span></li>
        <li>hidden:<span class="value"><%= data.hidden %></span></li>
        <li>top:<span class="value"><%= data.top %></span></li>
        <li>tags:<span class="value"><%= data.tags.join(', ') %></span></li>
    <% }else{ %>
        <li>null</li>
    <% } %>
</ul>

<% include footer %>
